nav{
    background-image: linear-gradient(-225deg, #85BC92 50%, #84BB91 48%, #7AB689 100%);
}

.card-link{
    float: right;
}

#presentation {
    background-color: #E4E4E4;
}

#presentation img{
    height: 100%;
}

#navbar li{
    border-right: 0.5px solid #7AB689;
}

#header {
    height: 100px;
}

#header i{
    color: #7AB689;
}

#carouselSite {
    width: 100%;
    height: 400px;
    background-color: transparent;
}

#carouselSite img {
    width: 100%;
    height: 400px;
}

#supporters img{
width: 16rem;
height: 8rem;
}

#reflections img{
    height: 22.4rem;
}


#contactFooter{
    background-image: linear-gradient(-225deg, #85BC92 50%, #84BB91 48%, #7AB689 100%);
}

